body {
    font-family: Arial, sans-serif;
    background-color: #03e00e;
    margin: 0;
    padding: 0;
}

#header {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    text-align: center;
    padding: 20px;
}

#profile-image {
    max-width: 350px;
    border-radius: 350%;
    display: block;
    margin: 0 auto;
}

#main-content {
    padding: 50px;
}